.font__weight__bold {
  font-weight: 600;
}
.text {
  $types: (inherit, initial, capitalize, lowercase, uppercase, none, revert);
  &__transform {
    @for $i from 1 to length($types) + 1 {
      &--#{nth($types, $i)} {
        text-transform: nth($types, $i) !important;
      }
    }
  }

  $names: ('primary', 'secondary', 'white', 'black');
  $colors: (--vt-c-brand, --vt-c-indigo, --vt-c-white, --vt-c-black);

  @for $i from 1 to length($names) + 1 {
    &--#{nth($names, $i)} {
      color: var(nth($colors, $i)) !important;
    }
  }
  
}

$marginPaddingNames: (0, 1, 2, 3, 4, 5);
$marginPaddingSizes: (0, 0.25rem, 0.5rem, 1rem, 1.5rem, 3rem);
@for $i from 1 to length($marginPaddingSizes) + 1 {
  // ========================= margins ========================= //
  .my {
    &--#{nth($marginPaddingNames, $i)} { 
      margin-block: #{nth($marginPaddingSizes, $i)} !important; 
    }
  }
  .mx {
    &--#{nth($marginPaddingNames, $i)} { 
      margin-inline: #{nth($marginPaddingSizes, $i)} !important; 
    }
  }
  .mb {
    &--#{nth($marginPaddingNames, $i)} { 
      margin-bottom: #{nth($marginPaddingSizes, $i)} !important; 
    }
  }
  .mt {
    &--#{nth($marginPaddingNames, $i)} { 
      margin-top: #{nth($marginPaddingSizes, $i)} !important; 
    }
  }
  .ms {
    &--#{nth($marginPaddingNames, $i)} { 
      margin-left: #{nth($marginPaddingSizes, $i)} !important; 
    }
  }
  .me {
    &--#{nth($marginPaddingNames, $i)} { 
      margin-right: #{nth($marginPaddingSizes, $i)} !important; 
    }
  }

  // ========================= padding ========================= //
  .py {
    &--#{nth($marginPaddingNames, $i)} { 
      margin-block: #{nth($marginPaddingSizes, $i)} !important; 
    }
  }
  .px {
    &--#{nth($marginPaddingNames, $i)} { 
      margin-inline: #{nth($marginPaddingSizes, $i)} !important; 
    }
  }
  .pb {
    &--#{nth($marginPaddingNames, $i)} { 
      margin-bottom: #{nth($marginPaddingSizes, $i)} !important; 
    }
  }
  .pt {
    &--#{nth($marginPaddingNames, $i)} { 
      margin-top: #{nth($marginPaddingSizes, $i)} !important; 
    }
  }
  .ps {
    &--#{nth($marginPaddingNames, $i)} { 
      margin-left: #{nth($marginPaddingSizes, $i)} !important; 
    }
  }
  .pe {
    &--#{nth($marginPaddingNames, $i)} { 
      margin-right: #{nth($marginPaddingSizes, $i)} !important; 
    }
  }
}