@use "sass:math";
$colWidth: 8.33333%;
$grid-cols: 12;
$colGutter: 2.5rem;

.container {
  margin: 0 auto;
  width: 100%;
  padding-left: calc(var(--gutter-x) * 0.5);
  padding-right: calc(var(--gutter-x) * 0.5);
  
  max-width: 1200px;
  
  @media (max-width: 991px) {
    .container {
      max-width: 750px;
    }
  }
}

.row {
  --gap: 0rem;
  $unit: rem;
  display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;
  margin-left: calc(var(--gutter-x) * -.5);
  margin-right: calc(var(--gutter-x) * -.5); 
  
  // $gaps: ('0.5', '1', '1.5', '2', '3');
  // $types: 5;
  // @for $i from 1 through $types {
  //   gap: var(--gap);
  //   &.gap--#{$i}, &.g--#{$i} { --gap: #{nth($gaps, $i) + $unit}; }
  //   &.gap-x--#{$i}, &.g-x--#{$i} { 
  //     --gap: #{nth($gaps, $i) + $unit};
  //     row-gap: var(--gap); 
  //   }
  //   &.gap-y--#{$i}, &.g-y--#{$i} { 
  //     --gap: #{nth($gaps, $i) + $unit};
  //     column-gap: var(--gap); 
  //   }
  // }
}

.col {  
  @for $i from 1 through $grid-cols {
    $colWidth: calc($i / $grid-cols * 100%);
    &--#{$i} {
      width: $colWidth;
      padding-left: calc(var(--gutter-x) * 0.5);
      padding-right: calc(var(--gutter-x) * 0.5);
      flex-shrink: 0;
      flex-grow: 0;
      flex-basis: auto;
    }
  }
  @media (min-width: 1024px) {
    @for $i from 1 through $grid-cols {
      &-md--#{$i} {
        $colWidth: calc($i / $grid-cols * 100%);
        width: $colWidth;
        padding-left: calc(var(--gutter-x) * 0.5);
        padding-right: calc(var(--gutter-x) * 0.5);
        flex-shrink: 0;
        flex-grow: 0;
        flex-basis: auto;
      }
    }
  }
  @media (min-width: 1260px) {
    @for $i from 1 through $grid-cols {
      &-lg--#{$i} {
        $colWidth: calc($i / $grid-cols * 100%);
        width: $colWidth;
        padding-left: calc(var(--gutter-x) * 0.5);
        padding-right: calc(var(--gutter-x) * 0.5);
        flex-shrink: 0;
        flex-grow: 0;
        flex-basis: auto;
      }
    }
  }
  @media (min-width: 1400px) {
    @for $i from 1 through $grid-cols {
      &-xl--#{$i} {
        $colWidth: calc($i / $grid-cols * 100%);
        width: $colWidth;
        padding-left: calc(var(--gutter-x) * 0.5);
        padding-right: calc(var(--gutter-x) * 0.5);
        flex-shrink: 0;
        flex-grow: 0;
        flex-basis: auto;
      }
    }
  }
}