
/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black-extra: #101010;
  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;
  --vt-c-brand: #42b883;
  --vt-c-brand-rgb: 66, 184, 131;
  --primary: #42b883;
  --primary-rgb: 66, 184, 131;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);
  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --hr-color: #dddddd;
  --border-color: #dddddd;
  --anchor-color: var(--primary);
  --dark: #252525;
  --dark-rgb: 37, 37, 37;
  --white: #ffffff;
  --white-rgb: 255, 255, 255;
  --danger: #cf0909;
  --danger-rgb: 207, 9, 9;
  --success: #04a111;
  --success-rgb: 61, 168, 6;

  --border-radius: .35rem;
  --transition: all .3s ease-in;

  --aside-menu-link-color: #333333;
  --aside-menu-active-link-color: #ffffff;
  --aside-menu-bg-color: #262626;
  --aside-menu-bg-active-color: var(--primary);

  --element-container-pading-x: calc(1.5rem + 1vw);
  --element-container-pading-y: calc(1rem + 1vw);
  --transition: all .3s ease-in;

  --col-width: 8.33333%;
  --grid-cols: 12;
  --gutter-x: 1.15rem;

}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;

  --aside-width: calc(300px + 1vw);
  --aside-main-logo-width: 55px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
    --hr-color: #393939;
    --border-color: #393939;

    --aside-menu-link-color: #9b9b9b;
    --aside-menu-active-link-color: #ffffff;
    --aside-menu-bg-color: #262626;
    --aside-menu-bg-active-color: var(--primary);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
