
/* color palette from <https://github.com/vuejs/theme> */


/* semantic color variables for this project */
:root {
  --body-bg-color: #ddede6;
  --body-bg-color-rgb: 224, 242, 234;

  --color-heading: #2c3e50;
  --color-text: #2c3e50;

  --section-gap: 160px;

  --aside-width: calc(300px + 1vw);
  --aside-main-logo-width: 55px;

  --primary: #42b883;
  --primary-rgb: 66, 184, 131;
  --secondary: #2c3e50;
  --secondary-rgb: 44, 62, 80;

  --border-color: #a0aba6;
  --hr-color: var(--border-color, #333333);
  --anchor-color: var(--primary);
  

  --black-extra: #101010;
  --black: #1C1C1C;
  --black-soft: #4a4a4a;
  --black-mute: #6D6D6D;

  --dark: #252525;
  --dark-rgb: 37, 37, 37;
  
  --gray: #e6e6e6;
  --gray-rgb: 230, 230, 230;

  --white-rgb: 255, 255, 255;
  --white: #e6e6e6;
  --white-soft: #b4b4b4;
  --white-mute: #f2f2f2;

  --danger: #d66666;
  --danger-rgb: 214, 102, 102;

  --success: #42b883;
  --success-rgb: 66, 184, 131;

  --warning: #ffc107;
  --warning-rgb: 255, 193, 7;
  
  --info: #17a2b8;
  --info-rgb: 255, 193, 7;

  --border-radius: .35rem;
  --transition: all .3s ease-in;

  --aside-menu-link-color: #333333;
  --aside-menu-active-link-color: #ffffff;
  --aside-menu-bg-color: var(--white);
  --aside-menu-bg-active-color: var(--primary);
  

  --element-container-pading-x: calc(1.5rem + 1vw);
  --element-container-pading-y: calc(1rem + 1vw);
  --transition: all .3s ease-in;

  --col-width: 8.33333%;
  --grid-cols: 12;
  --gutter-x: 1.15rem;

  --selection-bg-color: var(--primary);
  --selection-color: var(--black);

  --code-sec-bg-color: #ddd;
  --code-sec-border-color: #999999;
  --code-bg-color: var(--white);
  --code-header-color: var(--border-color);

  --element-margin-bottom: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg-color: var(--black);
    --color-heading: var(--white);
    --color-text: rgba(var(--white-rgb), 0.6);
    --border-color: #393939;
    --hr-color: var(--border-color, #dddddd);

    --aside-menu-link-color: #9b9b9b;
    --aside-menu-active-link-color: #ffffff;
    --aside-menu-bg-color: var(--black-extra);
    --aside-menu-bg-active-color: var(--primary);
    --code-sec-bg-color: #454545;
    --code-sec-border-color: transparent;
    --code-bg-color: #252525;
  }
}

// @media (prefers-color-scheme: dark){
//   :root:not(.light):not(.dark) {}
// }
// html.light html.dark

